/* * {
    box-sizing: border-box;
    border: 1pt dotted red;
} */

main {
    height: 100vh;
    overflow: hidden;
    padding: 3em;
    text-align: center;
    background-color: rgba(255, 192, 203, 0.546);
}