Authlib
bcrypt    
blinker
certifi
cffi
charset-normalizer
click
cryptography
flask_jwt_extended
freezegun
Flask
Flask-Cors
Flask-SQLAlchemy
Flask-DotEnv
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
marshmallow
MarkupSafe
pytest
pycparser
PyJWT
python-dotenv
requests
SQLAlchemy
urllib3
Werkzeug
zipp